[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/greplace.vim"]
	path = vim/bundle/greplace.vim
	url = https://github.com/vim-scripts/greplace.vim.git
